<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>User {{user.username}}</title>
<link type="text/css" rel="stylesheet" href="/static/stl/home_styles.css" media="all" />
  </head>
  <body id="body">
        <img src="/static/img/header.png" id="body_Image" >
        <img src="/static/img/divider.png" class="body_divider">
        <div id="nav">
          <a class="navButton" href="#">
            <img class="navButtonImg" src="/static/img/viewPic.png">
            <img class="navButtonText" src="/static/img/view.png">
          </a>
          <a class="navButton" href="#">
            <img class="navButtonImg" src="/static/img/surroundingPic.png">
            <img class="navButtonText" src="/static/img/surrounding.png">
          </a>
          <a class="navButton" href="#">
            <img class="navButtonImg" src="/static/img/imagePic.png">
            <img class="navButtonText" src="/static/img/image.png">
          </a>
          <a class="navButton" href="#">
            <img class="navButtonImg" src="/static/img/interactPic.png">
            <img class="navButtonText" src="/static/img/interact.png">
          </a>
        </div>
        <div id="body_divider"><br></div>
        <div id="AboutUs">
          <img src="/static/img/AboutUsText.png" style="width:50%;padding-left:25%;">
          <div id="AboutUsNav">
            <li id="aboutUsMember" class="AboutUsBtn" href="#">
              <img class="AboutUsBtnImg" src="/static/img/memberPic.png" >
              <img class="AboutUsBtnImg" src="/static/img/member.png">
            </li>
            <li id="AboutUsCooperation" class="AboutUsBtn" href="#">
              <img class="AboutUsBtnImg" src="/static/img/cooperationPic.png" >
              <img class="AboutUsBtnImg" src="/static/img/cooperation.png">
            </li>
            <li id="aboutUsProgress" class="AboutUsBtn" href="#">
              <img class="AboutUsBtnImg" src="/static/img/progressPic.png" >
              <img class="AboutUsBtnImg" src="/static/img/progress.png">
            </li>
          </div>
        </div>
        <div class="body_divider"><br></div>
        <div id="bottom">
        <label style="float:center;padding-left:40%;padding:right:40%">copyright©mechdogTeam17</label>
      </div>
  </body>
</html>
