<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
{%if warning%}
<p>
    {%for eachline in warning%}
    {{eachline}}<br>
    {%endfor%}
</p>
{%endif%}
<form method="POST" >
    <p>{% csrf_token %}</p>
    <p>User Name <input type="text" name="username" ></p>
    <p>Password <input type="password" name="password"></p>
    <input type="submit" value="登录" formaction="{% url 'userManage:login'%}">
    <input type="submit" value="注册" formaction="{% url 'userManage:register'%}"><br>
</form>
</body>
</html>