<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>User {{user.username}}</title>
<link type="text/css" rel="stylesheet" href="home_styles.css" media="all" />
  </head>
  <body id="body">
        <img src="../header.png" id="body_Image" >
        <img src="../divider.png" id="body_divider">
        <div id="nav">
          <a class="navButton" href="#">
            <img class="navButtonImg" src="../viewPic.png">
            <img class="navButtonText" src="../view.png">
          </a>
          <a class="navButton" href="#">
            <img class="navButtonImg" src="../surroundingPic.png">
            <img class="navButtonText" src="../surrounding.png">
          </a>
          <a class="navButton" href="#">
            <img class="navButtonImg" src="../imagePic.png">
            <img class="navButtonText" src="../image.png">
          </a>
          <a class="navButton" href="#">
            <img class="navButtonImg" src="../interactPic.png">
            <img class="navButtonText" src="../interact.png">
          </a>
        </div>
        <div id="body_divider"><br></div>
        <div id="AboutUs">
          <img src="../AboutUsText.png" style="width:50%;padding-left:25%;">
          <div id="AboutUsNav">
            <li id="aboutUsMember" class="AboutUsBtn" href="#">
              <img class="AboutUsBtnImg" src="../memberPic.png" >
              <img class="AboutUsBtnImg" src="../member.png">
            </li>
            <li id="AboutUsCooperation" class="AboutUsBtn" href="#">
              <img class="AboutUsBtnImg" src="../cooperationPic.png" >
              <img class="AboutUsBtnImg" src="../cooperation.png">
            </li>
            <li id="aboutUsProgress" class="AboutUsBtn" href="#">
              <img class="AboutUsBtnImg" src="../progressPic.png" >
              <img class="AboutUsBtnImg" src="../progress.png">
            </li>
          </div>
        </div>
        <div id="body_divider"><br></div>
        <div id="bottom">
        <label style="float:center;padding-left:40%;padding:right:40%">copyright©mechdogTeam17</label>
      </div>
  </body>
</html>
